
<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
          <a class="navbar-brand" href="#">URL SHORTENER</a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item hideWhenAuth" id="loginElement">
                <a class="nav-link hideWhenAuth"  href="/login">Log In</a>
              </li>
              <li class="nav-item hideWhenAuth" id="registerElement">
                <a class="nav-link"  href="/register">Register</a>
              </li>
              <li class="nav-item displayWhenAuth" id="logoutElement">
                <a class="nav-link"  href="/">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="my-urls">My URLs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<% if (isAuth == true) { %>
  <script src="javascript/navbarHideWhenAuth.js"></script>
<% } else { %>
  <script src="javascript/navbarDisplayWhenAuth.js"></script>

<% } %>
