<h1>URL Shortener - Login</h1>

<div class="alert alert-danger" id="formValidationAlert" role="alert">

    <% if (alert != "") { %>
        <%= alert %>
        
    <% } %>

</div>

<script defer src="/javascript/validateLogin.js"></script>


<form method="post" id="loginForm" >
    
    <div class="input-group mb-3 rounded">
        <span class="input-group-text" >Enter your email address</span>
        <input type="email" id="emailAddress" name="emailAddress" aria-label="Email" class="form-control rounded-end" >
    </div>
    
    <div class="input-group mb-3 rounded">
        <span class="input-group-text" >Please make a password</span>
        <input type="password" aria-label="Password" name="password" id="password" class="form-control rounded-end" >
    </div>

    <button type="submit" class="btn btn-primary">Shorten this URL</button>
</form>

