

<h1>URL Shortener - Register</h1>

<% if (alert != ""){ %>
    A message should go here
<% }  %>

<form class="flex-md-wrap">
    <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" >Enter your first name</span>
            <input type="text" class="form-control rounded-end" id="first-name" aria-label="First name" >
        </div>
        
        <div class="input-group mb-3 col">
            <span class="input-group-text" >Enter your last name</span>
            <input type="text" aria-label="Last name" id="last-name" class="form-control rounded-end" >
        </div>
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" >Enter your email address</span>
        <input type="email" aria-label="Email" id="email" class="form-control rounded-end" >
    </div>
    <div class="row">
        
        <div class="input-group mb-3 col">
            <span class="input-group-text" >Please make a password</span>
            <input type="password" aria-label="Password" id="password" class="form-control rounded-end" >
        </div>
        
        <div class="input-group mb-3 col">
            <span class="input-group-text" >Confirm your password</span>
            <input type="password" aria-label="Password" id="password-confirmation" class="form-control rounded-end" >
        </div>
    </div>
    
    <div class="mb-3">
        
        <input class="form-check-input mt-0" type="radio" value="" aria-label="Agree radio button">
        <label>Do you agree on the terms and conditions?</label>
    </div>
    
    
    <button type="submit" class="btn btn-primary">Shorten this URL</button>
</form>

